/********** Template CSS **********/

:root {
    --primary: #ffee59;
    --secondary: #525368;
    --light: #E8F5E9;
    --dark: black;
}

body {
    background: white;
}

a {
    text-decoration: none;
}

.form-control:focus {
    border-color: #B2BEB5 !important;
    box-shadow: 0 0 5px #B2BEB5 !important;
    background: white;
}

.form-control {
    background: white;
    color: #525368;
}

button:focus {
    outline: none;
    border: none;
}

label {
    color: #B2BEB5;
    font-weight: 600;
    font-size: large;
}

/*** Navbar ***/

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

/* .navbar .navbar-brand,
.navbar a.btn {
    height: 80px
} */

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 10px 15px;
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    border-bottom: 2px solid #ffee10
}

.navbar .navbar-nav .nav-link:hover {
    color: #B2BEB5
}

.navbar .dropdown-toggle::after {
    display: none;
}

.navbar .dropdown {
    position:static !important;
}

.navbar .nav-item .dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
    border: 0;
    margin-top:0px !important;
    width: 35% !important;
    padding: 0.7em;
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

/* .offcanvas .offcanvas-body .container .profile {
    border-bottom: 1px solid #EEEEEE;
} */

.offcanvas .offcanvas-body .container .profile .profile-img img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
    display: block;
}

.offcanvas .offcanvas-body .container .profile .username {
    line-height: 1px;
}

.offcanvas .offcanvas-body .container .profile .username h6 {
    color: #525368;
    font-weight: 700;
}

.offcanvas .offcanvas-body .container .profile .username span {
    color: #B2BEB5;
    font-size: small;
}

.offcanvas .offcanvas-body .container .profile .username a:hover span{
    color: var(--primary);
}

.offcanvas .offcanvas-body .container .bio p {
    font-size: smaller;
}

.offcanvas .offcanvas-body .container .profile-info a {
    line-height: 1px;
}

.offcanvas .offcanvas-body .container .profile-info p {
    color:#B2BEB5;
}

.offcanvas .offcanvas-body .container .profile-info span {
    color: #525368;
    font-weight: 600;
}

.offcanvas .offcanvas-body .container .drop-links {
    border-top: 1px solid #EEEEEE;
}

.offcanvas .offcanvas-body .container .drop-links .dropdown-item {
    padding: 10px 0;
}

.offcanvas .offcanvas-body .container .drop-links .dropdown-item .fa-solid {
    padding: 15px;
    background: #B2BEB5;
    border-radius: 50%;
}

.offcanvas .offcanvas-body .container .drop-links .dropdown-item span {
    margin-left: 10px;
    font-weight: 600;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {

    .navbar .nav-item .dropdown-menu .profile {
        border-bottom: 1px solid #EEEEEE;
    }

    .navbar .nav-item .dropdown-menu .profile .profile-img img {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        object-fit: cover;
        display: block;
    }

    .navbar .nav-item .dropdown-menu .profile .username {
        line-height: 1px;
    }

    .navbar .nav-item .dropdown-menu .profile .username h6 {
        color: #525368;
        font-weight: 700;
    }

    .navbar .nav-item .dropdown-menu .profile .username span {
        color: #B2BEB5;
        font-size: small;
    }

    .navbar .nav-item .dropdown-menu .profile .username a:hover span{
        color: var(--primary);
    }

    .navbar .nav-item .dropdown-menu .profile .bio p {
        font-size: smaller;
    }

    .navbar .nav-item .dropdown-menu .profile .profile-info a {
        line-height: 1px;
    }

    .navbar .nav-item .dropdown-menu .profile .profile-info p {
        color:#B2BEB5;
    }

    .navbar .nav-item .dropdown-menu .profile .profile-info span {
        color: #525368;
        font-weight: 600;
    }
    
    .navbar .nav-item .dropdown-menu .drop-links .dropdown-item {
        padding: 10px 0;
    }

    .navbar .nav-item .dropdown-menu .drop-links .dropdown-item .fa-solid {
        padding: 15px;
        background: #B2BEB5;
        border-radius: 50%;
    }

    .navbar .nav-item .dropdown-menu .drop-links .dropdown-item span {
        margin-left: 10px;
        font-weight: 600;
    }
} 

/*** Navbar ***/


/*** Footer ***/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background: white;
}

.foot-nav {
    display: flex;
    align-items: center;
    justify-content:space-between   
}

.foot-nav .nav-item {
    font-size: 20px
}

.foot-nav .nav-item.active {
    color: #ffee59
}

/*** Footer ***/

/*** Nav-md ***/
.nav {
    background: white;
}
.nav .top-nav {
    display: flex;
    align-items: center;
    justify-content:space-between 
}
/*** Nav-md ***/

/*** OffCanvas ***/
.offcanvas-size-sm {
    --bs-offcanvas-width: min(95vw, 300px) !important;
}
/*** OffCanvas ***/

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner ***/

/*** Post-story-btn ***/
.btn-wildin {
    background: #ffee59;
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar {
        display: none
    }

    .post-story {
        position: fixed;
        right: 20px;
        bottom: 100px;
        z-index: 99;
    }

    main {
        margin-top: 80px;
    }

    .profile-page {
        min-height:380px;
    }

    .profile-page .cover .cover-img img {
        height: 150px;
    }

    .profile-page .cover .profile-pic {
        left:5%; bottom:-30%;
    }

    .profile-page .cover .profile-pic img {
        height:70px; width:70px;
    }

    .profile-page .cover .profile-pic-edit {
        left:20%; top:108%; padding: 1px 5px;
    }

    .profile-page .cover .profile-pic-edit .fa-camera {
        font-size:0.8rem;
    }

    .profile-page .cover .edit-cover {
        top:75%; right:2%;
    }

    .profile-page .cover .edit-profile {
        top:110%; right:0
    }

    .profile-page .cover .profile-data {
        left:0; top:135%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar {
        display: none
    }

    .post-story {
        position: fixed;
        right: 20px;
        bottom: 100px;
        z-index: 99;
    }

    main {
        margin-top: 80px;
    }

    .profile-page {
        min-height:370px;
    }

    .profile-page .cover .cover-img img {
        height: 150px;
    }

    .profile-page .cover .profile-pic {
        left:10%; bottom:-30%;
    }

    .profile-page .cover .profile-pic img {
        height:80px; width:80px;
    }

    .profile-page .cover .profile-pic-edit {
        left:22%; top:108%; padding: 1px 5px;
    }

    .profile-page .cover .profile-pic-edit .fa-camera {
        font-size:0.8rem;
    }

    .profile-page .cover .edit-cover {
        top:75%; right:2%;
    }

    .profile-page .cover .edit-profile {
        top:110%; right:0
    }

    .profile-page .cover .profile-data {
        left:0; top:130%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar {
        display: none
    }

    .post-story {
        position: fixed;
        right: 65px;
        bottom: 150px;
        z-index: 99;
    }

    main {
        margin-top: 80px;
    }

    .profile-page {
        min-height:420px;
    }

    .profile-page .cover .cover-img img {
        height: 200px;
    }

    .profile-page .cover .profile-pic {
        left:10%; bottom:-30%;
    }

    .profile-page .cover .profile-pic img {
        height:100px; width:100px;
    }

    .profile-page .cover .profile-pic-edit {
        left:20%; top:108%; padding: 8px 10px;
    }

    .profile-page .cover .profile-pic-edit .fa-camera {
        font-size:1rem;
    }

    .profile-page .cover .edit-cover {
        top:80%; right:2%;
    }

    .profile-page .cover .edit-profile {
        top:110%; right:0
    }

    .profile-page .cover .profile-data {
        left:28%; top:110%; right:15%
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .footer, .nav, .post-story {
        display: none;
    }

    .navbar {
        display: block
    }

    main {
        margin-top: 75px;
    }

    .profile-page {
        min-height:450px;
    }

    .profile-page .cover .cover-img img {
        height: 250px;
    }

    .profile-page .cover .profile-pic {
        left:10%; bottom:-40%;
    }

    .profile-page .cover .profile-pic img {
        height:150px; width:150px;
    }

    .profile-page .cover .profile-pic-edit {
        left:23%; top:113%; padding: 8px 10px;
    }

    .profile-page .cover .profile-pic-edit .fa-camera {
        font-size:1.5rem;
    }

    .profile-page .cover .edit-cover {
        top:85%; right:2%;
    }

    .profile-page .cover .edit-profile {
        top:110%; right:0
    }

    .profile-page .cover .profile-data {
        left:30%; top:110%; right:15%
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .footer, .nav, .post-story {
        display: none;
    }

    .navbar {
        display: block
    }

    main {
        margin-top: 80px;
    }

    .profile-page {
        min-height:510px;
    }

    .profile-page .cover .cover-img img {
        height: 300px;
    }

    .profile-page .cover .profile-pic {
        left:10%; bottom:-50%;
    }

    .profile-page .cover .profile-pic img {
        height:200px; width:200px;
    }

    .profile-page .cover .profile-pic-edit {
        left:25%; top:115%; padding: 10px;
    }

    .profile-page .cover .profile-pic-edit .fa-camera {
        font-size:2rem;
    }

    .profile-page .cover .edit-cover {
        top:85%; right:2%;
    }

    .profile-page .cover .edit-profile {
        top:110%; right:0
    }

    .profile-page .cover .profile-data {
        left:32%; top:110%; right:15%
    }

}

.profile-page .cover {
    position: relative;
}

.profile-page .cover .cover-img {
    overflow: hidden;
}

.profile-page .cover .cover-img img {
    object-fit:cover; cursor: pointer; transition: transform .4s
}

.profile-page .cover .cover-img img:hover, .profile-page .cover .profile-pic img:hover {
    transform: scale(1.3); transform-origin: 50% 50%; filter: brightness(40%);
}

.profile-page .cover .profile-pic {
    position: absolute; border: 5px solid white; background: white; border-radius:50%; overflow: hidden;
}

.profile-page .cover .profile-pic-edit {
    position: absolute; background: #B2BEB5; border-radius: 50%; cursor: pointer;
}

.profile-page .cover .profile-pic-edit .fa-camera {
    color:white;
}

.profile-page .cover .profile-pic-edit .dropdown-menu .dropdown-item, .profile-page .cover .edit-cover .dropdown-menu .dropdown-item {
    color: #525368;
    font-weight: 600;
}

.profile-page .cover .profile-pic img {
    border-radius: 50%; cursor: pointer; transition: transform .4s
}

.profile-page .cover .edit-cover {
    position: absolute;
}

.profile-page .cover button {
    font-weight:600
}

.profile-page .cover .edit-profile {
    position: absolute;
}

.profile-page .cover .edit-profile .btn-post {
    background: #ffee59;
}

.profile-page .cover .edit-profile .btn-post:focus {
    outline: none;
}

.profile-page .cover .edit-profile .btn-post:hover {
    background: #ffee80;
}

.profile-page .cover .profile-data {
    position: absolute;
}

.profile-page .cover .profile-data .user-name {
    line-height: 1px
}

.profile-page .cover .profile-data .user-name h2 {
    font-weight: 900
}

.profile-page .cover .profile-data .user-name span {
    color: #B2BEB5;
}

.profile-page .cover .profile-data p {
    
}

.profile-page .cover .profile-data .user-info .count {
    font-weight: 600;
}

.profile-page .cover .profile-data .user-info .mx-2 {
    color: #B2BEB5;
}

hr {
    color: #B2BEB5;
}